{% extends "Login/index_base.html" %}

{% block active_link %}
		<li><a href="/Login/index">Home</a></li>
        <li><a href="/Login/features">Features</a></li>
        <li class="active"><a href="/Login/conct">Contact Us</a></li>
{% endblock %}


{% block content %}
<div class="well">
<font color="black">
<address>
	<strong>ImproWise Inc.</strong><br>
	GPRA, Kendranchal<br>
	Jodhpur, IN<br>
</address>

<br>

<address>
	<strong>Atul Dubey</strong><br>
	<abbr title="Phone No.">Ph. </abbr>(+91) 8386837483<br>
	Email: atuldubey.n@gmail.com
</address>
</font>
</div>





</address>


{% endblock %}